<div class="container">

  <div ng-include="'app/components/navbar/navbar.html'"></div>

  <div class="ui page centered grid">
    <div class="eight wide column center">
      <img src="http://placehold.it/600x250">
    </div>
  </div>

  <div ng-controller="SearchCtrl">
    <form class="ui page grid" ng-submit="search()">
        <div class="sixteen wide column">
          <div class="ui fluid icon input massive" ng-class="{'loading': loading}">
            <input type="text" ng-model="term" placeholder="What are you looking to create...?">
            <i class="search icon"></i>
          </div>
        </div>

        <div class="sixteen wide column">
          <div class="ui fluid icon button primary" ng-click="search()">
            Find tools
            <i class="search icon"></i>
          </div>
        </div>
    </form>

    <div class="ui page grid">
      <div class="sixteen wide column">
        <div class="ui cards" ng-if="records">
          <div class="card" ng-repeat="record in records">
            <a ui-sref="app({id: record.ID})" class="image">
              <img ng-src="{{record.featured_image.source}}">
            </a>    
            <div class="content">
              <div class="ui floated right" ng-if="higherUpvotes(record.acf.upvotes, record.acf.downvotes)">
                <i class="thumbs up icon green"></i> 
                <span class="text">{{record.acf.upvotes}}</span>
              </div>
              <div class="ui floated right" ng-if="higherDownvotes(record.acf.upvotes, record.acf.downvotes)">
                <i class="thumbs down icon red"></i> 
                <span class="text">{{record.acf.downvotes}}</span>
              </div>
              <a ui-sref="app({id: record.ID})">
                <div class="header"><h3>{{record.title}}</h3></div>
              </a>
              <div class="meta">
                <span><i class="file image outline icon"></i> {{record.acf.main_category}}</span>
              </div>
              <div class="ui divider"></div>
              <div ng-bind-html="record.excerpt"></div>
            </div>
            <a ui-sref="app({id: record.ID})" class="ui bottom attached button primary">
              <i class="eye icon"></i>
              View tool
            </a>
          </div>
        </div>

        <div class="ui negative message" ng-if="error">
          <i class="close icon"></i>
          <div class="header">
            {{error}}
          </div>
          <p>Why not try making a request?</p>
        </div>
      </div>
    </div>
  </div>

  <div class="ui divider"></div>

  <div class="ui page grid">
    <div class="sixteen wide column">
      <h1>Explore all tools</h1>
    </div>
    <div class="four wide column center aligned" ng-repeat="category in categories">
      <div class="ui segment">
        <img class="ui circular image centered" src="{{category.image}}">
        <h2>{{category.name}}</h2>
      </div>
    </div>
  </div>

  <div class="ui page grid">
    <div class="sixteen wide column">
      <div class="footer">
        <p>With ♥ from The Sunday Times</p>
      </div>
    </div>
  </div>

</div>
